.albumItem {
    margin: 10px;
    padding: 2px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-image: url('/images/green.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: padding-box;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.1);
    transition: border 0.3s ease;
    border: 2px solid transparent;
    cursor: pointer;
    margin-bottom: -10px;
    width: 90%;
    margin: 0 auto 20px;
}

.albumItem:hover {
    border-color: #4a90e2;
}

.albumImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    margin-right: 20px;
}

.albumInfo {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.albumName {
    font-size: 1.2rem;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: -10px;
}

.albumArtist {
    color: gray;
    font-size: 0.95rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tracksCount {
    font-size: 0.9rem;
    color: #333;
    margin-top: -10px;
}

@media (max-width: 600px) {
    .albumItem {
        margin: 0px;
        margin-bottom: -10px;
        width: 100%;
    }

    .albumImage {
        width: 80px;
        height: 80px;
        margin: 8px;
    }

    .albumName {
        font-size: 1rem;
        overflow: hidden;
    }

    .albumArtist {
        font-size: 0.85rem;
        overflow: hidden;
    }
}