.albumPage {
    margin: auto;
    width: 100%;
    max-width: 800px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-image: url('/images/Back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(25, 118, 210, 0.15);
    transition: all 0.3s ease;
}

.albumHeader {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.albumImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.albumInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trackList {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    .albumHeader {
        flex-direction: column;
        margin-bottom: 10px;
    }

    .trackList {
        margin-top: -30px;
        flex-direction: column;
        align-items: center;
    }

    .albumInfo {
        margin-top: -10px;
    }
}