.playlistPage {
    margin: auto;
    width: 100%;
    max-width: 800px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-image: url('/images/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(25, 118, 210, 0.15);
    transition: all 0.3s ease;
}

.playlistHeader {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.iconWrapper {
    background-color: #eee;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.icon {
    font-size: 64px;
    color: #333;
}

.playlistInfo h1 {
    margin: 0;
    font-size: 32px;
}

.playlistInfo p {
    margin: 5px 0 0;
    font-size: 18px;
    color: #666;
}

.trackList {
    display: flex;
    flex-direction: column;
}

.button {
    background: linear-gradient(45deg, #2200ff 30%, #2575fc 90%);
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 10px;

    &:hover {
        background: linear-gradient(45deg, #2575fc 30%, #2200ff 90%);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }
}

@media (max-width: 600px) {
    .trackList {
        width: 100%;
        margin-top: -30px;
        justify-content: space-between;
    }
}