.shuffle {
  margin-left: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar {
  background-image: url('/images/Toolbar.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
}